.bit-button {
  width: 30px;
  height: 30px;
  margin: 5px;
  background-color: #ccc;
  color: #000;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}

.bit-button:hover {
  background-color: #ddd;
}


.bit-button1 {
  width: 30px;
  height: 30px;
  margin: 5px;
  background-color: #ccc;
  color: #000;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
}

.bit-button1:hover {
  background-color: #ddd;
}


#bitStrip {
  display: flex;
  flex-wrap: wrap;
}


.input-wrapper {
  position: relative;
  display: inline-block;
  width: 520px; 
  margin-bottom: 10px;
}

.input-wrapper input {
  padding: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.input-wrapper input:focus::placeholder {
  color: transparent;
}

